In [ ]:
!git clone 'https://github.com/HarshvardhanSingh-13/Datasets'

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
 df=pd.read_csv('/content/Datasets/Titanic_Dataset/Titanic-Dataset.csv')

In [ ]:
df.head()

In [ ]:
df.tail(2)

In [ ]:
df.shape #(rows,columns)

In [ ]:
df.info()

In [ ]:
df.describe()   #(0,512) peek at 32 which is lesser

In [ ]:
df['Fare'].plot(kind='bar')

In [ ]:
df['Cabin']

In [ ]:
df['Cabin'].value_counts

In [ ]:
df.head(1)    #numerical can also be categorical ex: survived, pclass

In [ ]:
#numerical median
#mode mode

In [ ]:
df.isnull().sum().sum()

In [ ]:
med=df['Age'].median

In [ ]:
df['Age'].fillna(med) #change in the original dataframe
                      #if i fill with 0, the mean and median will fall down

In [ ]:
df['Age']=df['Age'].fillna(med)   #original

In [ ]:
df.isnull().sum()

In [ ]:
df['Embarked'].mode()[0]

In [ ]:
df['Embarked']=df['Embarked'].fillna(df['Embarked'].mode()[0])

In [ ]:
df['Cabin'].notna().astype(int)  #now it is categorical 0,1

In [ ]:
df['Has_Cabin']=df['Cabin'].notna().astype(int) #new column idont want cabin iwant its there or not

In [ ]:
df.head()

In [ ]:
df.drop('Cabin', axis=1, inplace=True) #entire column remove #inplace will make changes to original dataframe
#axis=0 means row

In [ ]:
df.head()

In [ ]:
df['Has_Cabin'].value_counts()

In [ ]:
#univariate analysis
fig, axis= plt.subplots(2,3,figsize=(10,8)) #2rows,3colms, 6plots at the same time
sns.countplot(ax=axis[0,0],x='Survived', data=df).set_title('Survival Distribution')
sns.countplot(ax=axis[0,1],x='Pclass', data=df).set_title('Passenger Class Distribution')
sns.countplot(ax=axis[0,2],x='Sex', data=df).set_title('Sex Distribution')
sns.countplot(ax=axis[1,0],x='Embarked', data=df).set_title('Embarked Distribution')
sns.countplot(ax=axis[1,1],x='SibSp', data=df).set_title('siblings/spouses Abroad')
sns.countplot(ax=axis[1,2],x='Parch', data=df).set_title('Parents/Children Abroad')

plt.tight_layout(rect=[0,0,1,0.96])
plt.show()

In [ ]:
plt.figure(figsize=(10,8))      #circles outliers 75-512
sns.boxplot(y='Fare', data=df)
plt.title('Box Plot of Ticket Fare')

plt.ylabel('Fare')
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

print('\nAnalysing numerical features')

# Create subplots
fig, axes = plt.subplots(2, 3, figsize=(16, 6))
fig.suptitle('Univariate Analysis of Numerical Features', fontsize=14)

# Age distribution
sns.histplot(data=df, x='Age', kde=True, ax=axes[0, 0])
axes[0, 0].set_title('Age Distribution')

# Fare distribution
sns.histplot(data=df, x='Fare', kde=True, ax=axes[0, 1])
axes[0, 1].set_title('Fare Distribution')

# Hide unused subplots
axes[0, 2].axis('off')
axes[1, 0].axis('off')
axes[1, 1].axis('off')
axes[1, 2].axis('off')

# Adjust layout
plt.tight_layout(rect=[0, 0, 1, 0.95])
plt.show()

In [ ]:

import seaborn as sns
g=sns.FacetGrid(df, col='Survived', height=4)
g.map(sns.histplot, 'Age', bins=20)
g.fig.suptitle('Age Distribution by Survival ', fontsize=10)
g.fig.subplots_adjust(top=0.9)
plt.show()

In [ ]:
#new feature
df['FamilySize']=df['SibSp']+df['Parch']+1 #+1 person itself

In [ ]:
df['IsAlone']=0
df.loc[df['FamilySize']==1, 'IsAlone']=1 #fetch by name

In [ ]:
df.head()

In [ ]:
fig,axes=plt.subplots(1,2,figsize=(10,4))
sns.barplot(ax=axes[0], x='FamilySize', y='Survived', data=df).set_title('Survival by Family Size')
sns.barplot(ax=axes[1], x='IsAlone', y='Survived', data=df).set_title('Survival rate for travelling alone')
plt.show()

In [ ]:
df['Title']=df['Name'].str.extract(r' ([A-Za-z]+)\.', expand=False)
print('Extracted Titles:')
df['Title'].value_counts()

In [ ]:
df['Title']=df['Title'].replace(['Lady','Rev', 'Countess', 'Capt', 'Col','Don','Dr','Major','Sir','Countess','Jonkheer', 'Dona'], 'Rare')
df['Title']=df['Title'].replace('Mlle','Miss')
df['Title']=df['Title'].replace('Ms','Miss')
df['Title']=df['Title'].replace('Mme','Mrs')
plt.figure(figsize=(10,8))
sns.barplot(x='Title', y='Survived', data=df)
plt.title('Survival Plot by title')
plt.ylabel('Survival Probability')
plt.show()

In [ ]:
sns.catplot(x='Pclass',y='Survived',hue='Sex',data=df,kind='bar', height=6, aspect=1.5)
plt.title('Survival rate by pclass and sex')
plt.ylabel('Survival Probability')
plt.show()

In [ ]:
df.columns)

In [ ]:
import pandas as pd

df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df = df.dropna(subset=['Age', 'Sex', 'Survived'])

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10, 8))

sns.violinplot(
    data=df,
    x='Sex',
    y='Age',
    hue='Survived',
    split=True,
    palette={0: 'blue', 1: 'orange'}
)

plt.title('Age Distribution by Sex and Survival')
plt.show()

In [ ]:
#correlation analysis
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Select only numeric columns
numeric_df = df.select_dtypes(include=['int64', 'float64'])

In [ ]:
corr = numeric_df.corr()

In [ ]:
plt.figure(figsize=(12, 8))

sns.heatmap(
    corr,
    annot=True,
    fmt=".2f",
    cmap='coolwarm',
    linewidths=0.5
)

plt.title('Correlation Heatmap of Titanic Dataset')
plt.show()

In [ ]:
!pip install -U ydata-profiling

In [ ]:
import pandas as pd
from ydata_profiling import ProfileReport

In [ ]:
df=pd.read_csv('/content/Datasets/Titanic_Dataset/Titanic-Dataset.csv')

In [ ]:
df.head()

In [ ]:
profile = ProfileReport(df, title="Titanic Dataset Profiling Report", explorative=True)

In [ ]:
profile.to_widgets()

In [ ]:
profile.to_file("/content/titanic_profile_report.html")